<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet"  href="/styles.css">
</head>
<body>
    <div class="reg-container">
        <h1>Create an Account</h1>
        <form action="/auth/register" method="POST">
            <label>Email:</label>
    <input type="email" name="email" required>
    <label>Password:</label>
    <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/auth/login">Login here</a></p>
    </div>
</body>
</html>



